@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    -webkiy-overflow-scrolling: touch;

    &:focus {
        outline: 0;
    }
}

body {
    background: #E7EAFB;
    padding: 25px;
}

.job-item {
    background: #fff;
    box-shadow: 0 21px 87px -38px rgba(#5062D3, .5);
    border-radius: 20px;
    max-width: 606px;
    margin-bottom: 30px;
    a {
        padding: 50px 50px 40px; 
        display: flex;
        flex-direction: column;
        
        .title {
            font-size: 25.5px;
            color: #111127;
            font-weight: bold;
        }

        .position {
            font-size: 16px;
            color: rgba( #111127, .7);
            margin-top: 5px;
        }

        p {
            color: #111127;
            font-size: 18px;
            line-height: 26px;
            margin: 25px 0;
        }

        .tag {
            display: flex;
            flex-wrap: wrap;
            span {
                background: #E7EAFB;
                padding: 7px 20px;
                border-radius: 22px;
                color: #111127;
                margin: 0 10px 10px 0;
                font-size: 14px;

                &:hover {
                    background:darken(#E7EAFB,3%) ;
                }
            }
        }
    }
}

.job-items {
    display: flex;
    flex-direction: column;
    max-width: 734px;

    li {
        margin-bottom: 15px;
        a {
            display: flex;
            background: #fff;
            border-radius: 10px;
            padding: 20px 45px 20px 20px;
            align-items: center;
            transition: 300ms transform;

            &:hover {
                transform: scale(1.03);
            }
            .avatar {
                min-width: 64px;
                margin-right: 15px;
                height: 64px;
                border-radius: 50%;
                font-size: 30px;
                font-weight: bold;
                border: 2px solid #E7EAFB;
                display: grid;
                place-items: center;
                color: var(--color);
            }
            .location {
                margin-left: auto;
                display: flex;
                align-items: center;
                opacity: .6;

                img {
                    height: 26px;
                    width: 26px;
                    color: #111127;
                    margin-right: 5px;
                    font-size: 16px;
                }
            }
            .detail {
                display: flex;
                flex-direction: column;
                .title {
                    font-size: 20px;
                    font-weight: bold;
                    color: #111127;
                    margin-bottom: 9px;
                }
                .position {
                    font-size: 16px;
                    color: rgba( #111127, .7);
                }

            }
        }
    }

    
}