@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    -webkiy-overflow-scrolling: touch;

    &:focus {
        outline: 0;
    }
}

body {
    background: #EBEEF2;
    padding: 20px;
}

.component {

    &-prices {
        .title {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 55px;

            h3 {
                font-size: 42px;
                color: #171922;
                font-weight: 900;
                
            }
    
            label {
                width: 212px;
                height: 50px;        
                background: #D4D9E0;
                border-radius: 25px;
                display: flex;
                justify-content: space-around;
                align-items: center;
                position: relative;
                z-index: 1;

                &::before {
                    content: '';
                    width: 100px;
                    height: 40px;
                    background-color: #fff;
                    border-radius: 40px;
                    position: absolute;
                    left: 5px;
                    top: 5px;
                    box-shadow: 0 15px 13px -12px rgba(#8693A4, 0.74);
                    z-index: -1;
                }

                span {
                    width: 100px;
                    height: 40px;
                    display: grid;
                    place-items: center;
                    font-size: 16px;
                    font-weight: bold;
                    color: #171922;
                    opacity: .7;
                }
            }
        }

        .packages {
            display: flex;
            margin: 0 -20px;

            .package {
                flex: 1;
                margin: 0 20px;
                background-color: #fff;
                padding: 45px;

                h6 {
                    font-size: 28px;
                    font-weight: bold;
                    color: #171922;
                    margin-bottom: 35px;
                }
            .price-info {

                .price {
                    margin-bottom: 10px;
                    font-size: 22px;
                    font-weight: bold;
                    color: #171922;
                }

                .desciription {
                    font-size: 18px;
                    font-weight: bold;
                    color: #171922;
                    opacity: .71;
                    margin-bottom: 30px;
                }

                p {
                        font-size: 16px;
                        font-weight: 500;
                        color: #171922;
                        opacity: .71;
                        
                }
            } 
            }
        }
       
    }
}