@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    -webkiy-overflow-scrolling: touch;

    &:focus {
        outline: 0;
    }
}

body {
    padding: 10px;
    background: #d4bebe;
}

.cookie-banner {
    --color1: #10182F;
    --color2: #fff;
    --color3: #306BF3;
    box-shadow: 0 15px 45px -12px  rgba(#10182F, .15); 
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transform: scale(.8);
    transition: 500ms all;

    &.active {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        
    }

    p {
        font-size: 16px;
        line-height: 25px;
        color: var(--color1);
        a {
            display: block;
            text-decoration: underline;
            color: var(--color1);  
        }
    }
    
    &.style1 {
        width: 410px;
        height: 196px;
        padding: 35px 35px 25px;
        background:var(--color2);
        
        .actions {
            display: flex;
            justify-content: flex-end;
            margin-top: 25px;
            a {
                display: flex;
                align-items: center;
                height: 36px;
                padding: 0 20px;
                font-size: 14px;
                font-weight: bold;
                width: 132px;
                border-radius: 5px;
                color: var(--color1);

                &.btn {
                    background-color: var(--color1);
                    color: var(--color2);  
                }
            }
        }

        &.dark {
            --color1: #fff;
            --color2: #10182F;
        }
    }

    &.style2 {
        width: 410px;
        height: 304px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        padding: 39px 40px 35px;
        background: var(--color2);

        .icon{
            text-align: center;
            fill: var(--color3);
        }
        p {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .actions {
            .btn {
                width: 110px;
                height: 50px;
                background: var(--color1);
                color: var(--color2);
                padding: 15px 35px;
                border-radius: 5px;
                font-weight: bold;
                font-size: 16px;
            }
        }
        &.dark {
            --color1: #fff;
            --color2: #10182F;
            --color3: #fff;
        }
       
    }
    
    &.style3 {
        width: 731px;
        height: 145px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--color2);
        
        .icon {
            fill: var(--color3);
            margin-right: 45px;
        }
        p{
            font-size: 16px;
            color: var(--color1);
            width: 330px;
            margin-right: 121px;
        }

        .actions {

            .btn {
            display: 1;
            background: var(--color1);
            padding: 15px 35px;
            border-radius: 5px;
            color: var(--color2);
            font-weight: bold;
            }
        }

        &.dark {
            --color1: #fff;
            --color2: #10182F;
            --color3: #fff;
        }
   }

   &.position {
    position: fixed;

    &-tr {
        position: fixed;
        top: 20px;
        right: 20px;
       }
    
       &-tl {
        position: fixed;
        top: 20px;
        left: 20px;
       }
    
       &-br {
        position: fixed;
        bottom: 20px;
        right: 20px;
       }
    
       &-bl {
        position: fixed;
        bottom: 20px;
        left: 20px;
       }
       
       &-bc {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%) ;
       }
       &-tc {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
       }

   }

   

}