@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:wght@400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    -webkiy-overflow-scrolling: touch;

    &:focus {
        outline: 0;
    }

}

body { 
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(90,139,228);
    background: radial-gradient(circle, rgba(90,139,228,1) 0%, rgba(44,77,172,1) 62%, rgba(20,50,176,1) 100%);
}

.container {
    width: 450px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0 , 0 , 0 ,0.05);

    & h2 {
        font-weight: 600;
        font-size: 1.31rem;
        padding: 1rem 1.75rem;
        border-bottom: 1px solid #d4dbe5;
    }

    .wrapper {
        margin: 1.25rem 1.75rem;

        .input-box {
            position: relative; 
            span {
                position: absolute;
                right: 13px;
                cursor: pointer;
                line-height: 53px;
                color: #707070;
            
                &:hover {
                    color: #43a047 !important;
                }
            }
        }

        .pass-indicator {
            width: 100%;
            height: 4px;
            position: relative;
            margin-top: 0.75px;
            border-radius: 25px;
           
            &::before {
                position: absolute;
                content: "";
                height: 100%;
                width: 50%;
                border-radius: inherit;
                transition: width 0.3ms ease;

                &#weak::before {
                    width: 20%;
                    background: #e64a4a;
                }
                &#medium::before {
                    width: 20%;
                    background: #f1c80b;
                }
                &#strong::before {
                    width: 20%;
                    background: #43a047;
                }
            }
        }

        .pass-length {
            margin: 1.56rem 0 1.25rem;

            .details {
                display: flex;
                justify-content: space-between;
            }

            input {
                width: 100%;
                height: 5px;
            }
        }

        .pass-settings {
            
            .options {
            display: flex;
            flex-wrap: wrap;
            margin-top: 1rem;

                .option {
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;
                    width: calc(100% / 2);

                    &:first-child {
                        pointer-events: none;

                        input {
                            opacity: 0.7 ;
                        }
                    }

                    & input {
                        height: 16px;
                        width: 16px;
                        cursor: pointer;
                    }

                    label {
                       cursor: pointer;
                       color: #4f4f4f;
                       padding-left: 0.63rem;
                    }

                }
            }
        }

       .generate-btn {

        width: 100%;
        color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        background: #43a047;
        font-size: 1.06rem;
        padding: 0.94rem 0;
        border-radius: 5px;
        text-transform: uppercase;
        margin: 0.94rem 0 1.3rem;
       } 
        
    }

}

.input-box input{
    width: 100%;
    height: 53px;
    color: #000;
    background: none;
    font-size: 1.06rem;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 1.4px;
    border: 1px solid #aaa;
    padding: 0 2.85rem 0 1rem;
}





